#hud,
#hud * {
	all: initial;
	cursor: none;
}

#hud {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2147483647;
}

#hud > ol {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#hud > ol > li {
	font-family: Arial;
	position: absolute;
}

#hud > ol > li.selected {
	color: red;
}

#hud > ol > li.active {
	font-weight: bold;
}