#hud,
#hud * {
  all: initial;
  cursor: none;
}

#hud {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2147483647;
}

#hud > ol {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#hud > ol > li {
  font-family: Arial;
  position: absolute;
}

#hud > ol > li.selected {
  color: red;
}

#hud > ol > li.active {
  font-weight: bold;
}
